*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1FA5A6;
    --secondary-color: #B2DEDD;
    --terciary-color: #DD7564;
    --ice: #F0EDE6;
    --gray: #47494A;
    --light-gray: #a4a9ab;
    
    --cell-size: 10rem;
}

body {
    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100vh;

    background-color: var(--secondary-color);
}

header {
    display: flex;
    width: 100%;
    height: 15%;

    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
}

header h1 {
    font-size: 4rem;
    color: var(--gray);
}

main {
    width: 100%;
    height: 70%;

    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.winningScreen {
    display: none;
}

.winningScreen.show {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--ice);
    width: 80%;
    height: 100%;

    border-radius: 2rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.winningScreen.show .buttons {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.blur {
    filter: blur(2px);
}

.winningScreen .winningMessage {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
}

.winningScreen.show .buttons .btn {
    border: 1px solid black;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 3.2rem;
    font-weight: 600;
    min-width: 12rem;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}

.winningScreen.show .buttons .btn.one {
    border: 3px solid var(--terciary-color);
    color: var(--terciary-color);
}

.winningScreen.show .buttons .btn.one:hover {
    background-color: var(--terciary-color);
    color: var(--ice);
}

.winningScreen.show .buttons .btn.two {
    background-color: var(--terciary-color);
    border: 3px solid var(--terciary-color);
    color: var(--ice);
}

.winningScreen.show .buttons .btn.two:hover {
    background-color: var(--ice);
    border: 3px solid var(--terciary-color);
    color: var(--terciary-color);
}

.winningScreen.show .buttons .btn:hover {
    cursor: pointer;
}

.currentTurn {
    width: 100%;
    font-size: 3rem;

    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-color);
    background-color: var(--ice);
}

.gameBoard {
    width: calc(3 * var(--cell-size));
    height: calc(3 * var(--cell-size));

    display: grid;
    grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size);
}

.gameBoard .cell {
    height: var(--cell-size);
    width: var(--cell-size);
    
    border: 0.4rem solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard .cell:hover {
    cursor: pointer;
}

.gameBoard .cell:first-child,
.gameBoard .cell:nth-child(2),
.gameBoard .cell:nth-child(3) {
    border-top: none;
}

.gameBoard .cell:nth-child(3n) {
    border-right: none;
}

.gameBoard .cell:nth-child(7),
.gameBoard .cell:nth-child(8),
.gameBoard .cell:nth-child(9) {
    border-bottom: none;
}

.gameBoard .cell:nth-child(1),
.gameBoard .cell:nth-child(4),
.gameBoard .cell:nth-child(7) {
    border-left: none;
}

.gameBoard .cell.x:hover,
.gameBoard .cell.o:hover {
    cursor: default;
}

.gameBoard .cell.x::before,
.gameBoard .cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--cell-size) * 0.1);
    height: calc(var(--cell-size) * 0.85);
    
    background-color: var(--gray);
    transform: rotate(45deg);
}

.gameBoard .cell.x::after {
    transform: rotate(-45deg);
}

.gameBoard .cell.o::before {
    content: '';
    position: absolute;

    width: calc(var(--cell-size) * 0.78);
    height: calc(var(--cell-size) * 0.78);
    border-radius: 50%;
    
    background-color: var(--gray);
}

.gameBoard .cell.o::after {
    content: '';
    position: absolute;

    width: calc(var(--cell-size) * 0.6);
    height: calc(var(--cell-size) * 0.6);
    border-radius: 50%;
    
    background-color: var(--secondary-color);
}

.gameBoard.x .cell:not(.x, .o):hover::before,
.gameBoard.x .cell:not(.x, .o):hover::after
 {
    content: '';
    position: absolute;
    width: calc(var(--cell-size) * 0.1);
    height: calc(var(--cell-size) * 0.85);
    
    background-color: var(--light-gray);
    transform: rotate(45deg);
}

.gameBoard.x .cell:not(.x, .o):hover::after {
    transform: rotate(-45deg);
}

.gameBoard.o .cell:not(.x, .o):hover::before
 {
    content: '';
    position: absolute;

    width: calc(var(--cell-size) * 0.78);
    height: calc(var(--cell-size) * 0.78);
    border-radius: 50%;
    
    background-color: var(--light-gray);
}

.gameBoard.o .cell:not(.x, .o):hover::after {
    content: '';
    position: absolute;

    width: calc(var(--cell-size) * 0.6);
    height: calc(var(--cell-size) * 0.6);
    border-radius: 50%;
    
    background-color: var(--secondary-color);
}

footer {
    display: flex;
    width: 100%;
    height: 15%;

    align-content: center;
    align-items: center;
    justify-content: center;

    font-size: 1.1rem;
    font-weight: 400;

    color: var(--gray)
}
